@import url("https://fonts.googleapis.com/css2?family=Corinthia:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan&display=swap");
body {
  background-image: linear-gradient(to bottom, #00a7ff, #00a2e8, #009bd0, #0093b7, #008a9f);
}

/* inicio header */
header {
  background-image: url(../img/fondo.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 90vh;
}
header nav {
  background-image: linear-gradient(black, rgba(255, 255, 255, 0));
}
header nav #img-logo {
  margin-left: 35%;
  height: 40px;
}
header .tittle {
  margin-top: 10%;
  text-shadow: 0 0 5px #333;
}

.header__bottom {
  margin-top: 15%;
}

/* fin header */
/* inicio de main top */
.box-color1 {
  background-color: #004d6e;
  box-shadow: 5px 5px 5px #000;
  border-radius: 25px;
}

.box-color2 {
  background-color: #4686ab;
  box-shadow: 5px 5px 5px #000;
  border-radius: 25px;
}

.box-color3 {
  background-color: #7ec5ec;
  box-shadow: 5px 5px 5px #000;
  border-radius: 25px;
}

.main__top--boxsizes, .main__top .main__section,
.main__top .main__section2,
.main__top .main__section3 {
  line-height: 30px;
}
.main__top--boxsizes p, .main__top .main__section p,
.main__top .main__section2 p,
.main__top .main__section3 p {
  color: white;
  text-shadow: 5px 5px 5px #000;
  font-family: "Spartan", sans-serif;
}

.main__top {
  border: 2px solid rgba(41, 41, 41, 0.5);
  padding: 20px;
  box-shadow: 5px 5px 5px #292929;
  background-color: #bee2f6;
  border-radius: 25px;
}
.main__top .main__title {
  font-family: "Cinzel", serif;
  color: #004d6e;
  text-shadow: 1px 7px 7px #000;
  font-size: 30px;
}
/* fin de main top */
/* inicio de aside top */
.aside__top {
  background-color: #4686ab;
  box-shadow: 5px 5px 5px #292929;
  text-align: center;
  border-radius: 25px;
}
.aside__top .aside__top--title {
  text-align: center;
  font-family: "Cinzel", serif;
  color: white;
  text-shadow: 5px 5px 5px #333;
}
.aside__top .aside__top--txt {
  font-family: "Spartan", sans-serif;
  color: white;
}
.aside__top .aside__top--form {
  font-family: "Spartan", sans-serif;
  color: white;
}

/* fin de aside top */
/* inicio de main mid */
.main__mid {
  border-radius: 25px;
  box-shadow: 5px 5px 5px #000;
}

.main__mid {
  padding: 20px;
  background-color: #bee2f6;
}
.main__mid .main__mid__title {
  font-size: 40px;
  text-align: center;
  color: #004d6e;
  font-family: "Cinzel", serif;
  text-shadow: 1px 7px 7px #000;
}
.main__mid .main__mid--font {
  background-image: linear-gradient(rgba(0, 0, 0, 0), black);
  border-radius: 10px;
  color: white;
  margin-top: 280px;
}
.main__mid .sizeimg, .main__mid .hotel1,
.main__mid .hotel2,
.main__mid .hotel3,
.main__mid .hotel4,
.main__mid .hotel5,
.main__mid .hotel6,
.main__mid .hotel7,
.main__mid .hotel8,
.main__mid .hotel9 {
  border-radius: 10px;
  width: auto;
  height: 300px;
  font-family: "Spartan", sans-serif;
  background-size: cover;
  background-position: center;
  box-shadow: 5px 5px 5px #000;
  padding: 0 0 0 0;
  text-align: center;
}
.main__mid .hotel1 {
  background-image: url(../img/hotelBrasil.jpg);
}
.main__mid .hotel2 {
  background-image: url(../img/hotelBuenosAires.jpg);
}
.main__mid .hotel3 {
  background-image: url(../img/hotelCancun.jpg);
}
.main__mid .hotel4 {
  background-image: url(../img/hotelParis.jpg);
}
.main__mid .hotel5 {
  background-image: url(../img/hotelMadrid.jpg);
}
.main__mid .hotel6 {
  background-image: url(../img/hotelAmsterdam.jpg);
}
.main__mid .hotel7 {
  background-image: url(../img/hotelLondres.jpg);
}
.main__mid .hotel8 {
  background-image: url(../img/hotelToronto.jpg);
}
.main__mid .hotel9 {
  background-image: url(../img/hotelBerlin.jpg);
}
@media only screen and (min-width: 576px) and (max-width: 661px) {
  .main__mid .hotel2Texto {
    margin-top: 260px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .main__mid .hotel2Texto {
    margin-top: 255px;
  }
}

/* fin de main mid */
/* Inicio de aside mid */
.aside__mid {
  background-color: #4686ab;
  box-shadow: 5px 5px 5px #292929;
  border-radius: 25px;
  margin: 0;
  padding: 0;
}
.aside__mid .aside__mid--title {
  font-family: "Cinzel", serif;
  color: white;
  text-shadow: 5px 5px 5px #333;
  text-align: center;
}

.aside__bottom {
  box-shadow: 5px 5px 5px #292929;
  background-color: #4686ab;
  border-radius: 25px;
  margin: 0;
  padding: 0;
}
.aside__bottom .aside__bottom--title {
  font-family: "Cinzel", serif;
  color: white;
  text-shadow: 5px 5px 5px #333;
}

.aside__bottom--imgtitle, .aside__bottom--imgtitle1,
.aside__bottom--imgtitle2,
.aside__bottom--imgtitle3,
.aside__bottom--imgtitle4,
.aside__bottom--imgtitle5,
.aside__bottom--imgtitle6,
.aside__bottom--imgtitle7,
.aside__bottom--imgtitle8,
.aside__bottom--imgtitle9,
.aside__bottom--imgtitle10 {
  font-family: "Spartan", sans-serif;
  color: white;
  text-shadow: 5px 5px 5px #333;
}

.aside__bottomimg, .aside__bottom10, .aside__bottom9, .aside__bottom8, .aside__bottom7, .aside__bottom6, .aside__bottom5, .aside__bottom4, .aside__bottom3, .aside__bottom2, .aside__bottom1 {
  background-color: #7ec5ec;
  background-position: center;
  background-size: cover;
  height: 150px;
  border-radius: 30%;
  box-shadow: 5px 5px 5px #292929;
}

.aside__bottom1 {
  background-image: url(../img/desayuno.png);
}

.aside__bottom2 {
  background-image: url(../img/cena.png);
}

.aside__bottom3 {
  background-image: url(../img/limpieza.png);
}

.aside__bottom4 {
  background-image: url(../img/lavanderia.png);
}

.aside__bottom5 {
  background-image: url(../img/microondas.png);
}

.aside__bottom6 {
  background-image: url(../img/tv.png);
}

.aside__bottom7 {
  background-image: url(../img/cajaFuerte.png);
}

.aside__bottom8 {
  background-image: url(../img/atencion.png);
}

.aside__bottom9 {
  background-image: url(../img/premium.png);
}

.aside__bottom10 {
  background-image: url(../img/servCliente.png);
}

/* fin de aside mid */
/* inicio de main mid2 */
.main__mid2 {
  background-color: #bee2f6;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #000;
  padding: 20px;
}
.main__mid2 .main__mid2__article {
  background-color: #7ec5ec;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #000;
}
.main__mid2 .main__mid2__article .main__mid2__article--title {
  color: #004d6e;
  font-family: "Cinzel", serif;
  text-shadow: 1px 7px 7px #000;
}
.main__mid2 .main__mid2__article .main_mid2_article__sizeimg {
  background-position: center;
  background-size: cover;
  border-radius: 15px;
  box-shadow: 10px 10px 10px #000;
}
.main__mid2 .main__mid2__article .main__mid2__article__img,
.main__mid2 .main__mid2__article .main__mid2__article__img2,
.main__mid2 .main__mid2__article .main__mid2__article__img3,
.main__mid2 .main__mid2__article .main__mid2__article__img4 {
  background-position: center;
  background-size: cover;
}

.main__mid2__article2 {
  background-color: #7ec5ec;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #000;
  padding: 15px;
}
.main__mid2__article2 .main___mid2__article2--title {
  font-family: "Cinzel", serif;
  text-shadow: 1px 7px 7px #000;
  color: #004d6e;
  margin-bottom: 20px;
}
.main__mid2__article2 .main___mid2___article2__ul {
  background-color: #4686ab;
  list-style-type: none;
  font-family: "Spartan", sans-serif;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #000;
  color: white;
}
.main__mid2__article2 .tituloNegro {
  color: #000;
  background-color: #7ec5ec;
  border-radius: 15px;
}
.main__mid2__article2 .subList {
  list-style-type: upper-roman;
  color: white;
  background-color: #4686ab;
}
.main__mid2__article2 .main__mid2__article2--p {
  background-color: #004d6e;
  font-family: "Spartan", sans-serif;
  color: white;
  box-shadow: 5px 5px 5px #000;
  border-radius: 15px;
  margin: 0%;
  padding: 10px;
}

@media only screen and (min-width: 200px) and (max-width: 575px) {
  .aside__mid--map {
    height: 250px;
  }

  .main__mid2__article {
    height: 300px;
  }
  .main__mid2__article .main__mid2__article--title {
    font-size: 20px;
  }

  .main__mid2__article__img,
.main__mid2__article__img2,
.main__mid2__article__img3,
.main__mid2__article__img4 {
    height: 150px;
  }

  .main__mid2__article2 {
    height: 600px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .aside__mid--map {
    height: 300px;
  }

  .main__mid2__article {
    height: 500px;
  }

  .main__mid2__article__img,
.main__mid2__article__img2,
.main__mid2__article__img3,
.main__mid2__article__img4 {
    height: 350px;
  }

  .main__mid2__article2 {
    height: 350px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .aside__mid {
    height: 260px;
  }
  .aside__mid .aside__mid--map {
    height: auto;
  }

  .main__mid2__article {
    height: 500px;
  }
  .main__mid2__article .main__mid2__article--title {
    font-size: 20px;
  }

  .main__mid2__article__img,
.main__mid2__article__img2,
.main__mid2__article__img3,
.main__mid2__article__img4 {
    height: 300px;
  }

  .main__mid2__article2 {
    height: 500px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .aside__mid {
    height: 350px;
  }
  .aside__mid .aside__mid--map {
    height: 250px;
  }

  .main__mid2__article {
    height: 550px;
  }

  .main__mid2__article__img,
.main__mid2__article__img2,
.main__mid2__article__img3,
.main__mid2__article__img4 {
    height: 350px;
  }

  .main__mid2__article2 {
    height: 550px;
  }
}
@media only screen and (min-width: 1200px) {
  .aside__mid {
    height: 350px;
  }
  .aside__mid .aside__mid--map {
    height: 250px;
  }
}
@media only screen and (min-width: 1500px) {
  .main__mid {
    height: 1580px;
  }
}
/* fin de main mid2 */
/* inicio de main bottom */
.main__bottom {
  background-color: #bee2f6;
  border-radius: 15px;
  box-shadow: 5px 5px 5px #000;
}
.main__bottom .main__bottom__section {
  background-color: #7ec5ec;
  box-shadow: 5px 5px 5px #000;
  border-radius: 15px;
  text-align: center;
}
.main__bottom .main__bottom__section .main__bottom__section--title {
  font-family: "Cinzel", serif;
  color: #004d6e;
  text-shadow: 5px 5px 5px #333;
}
.main__bottom .main__bottom__section2 {
  background-color: #7ec5ec;
  font-family: "Spartan", sans-serif;
  box-shadow: 5px 5px 5px #000;
  border-radius: 25px;
}
.main__bottom .main__bottom__section2 .main__bottom__section2--title {
  text-align: center;
  font-family: "Cinzel", serif;
  color: #004d6e;
  text-shadow: 5px 5px 5px #333;
}
.main__bottom .main__bottom__section2 .main__bottom__section2--p {
  background-color: #4686ab;
  border-radius: 25px;
  box-shadow: 5px 5px 5px #333;
  color: white;
}

@media only screen and (min-width: 200px) and (max-width: 575px) {
  .aside__mid--map {
    height: 250px;
  }

  .video {
    height: 200px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .video {
    height: 400px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .video {
    height: 400px;
  }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .video {
    height: 400px;
  }
}
/* fin de maiottom */

/*# sourceMappingURL=style.css.map */
